@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    border: 0.15rem solid rgba(0, 0, 0, 0);
    background-color: hsla(0, 0%, 50%, 0.75);
    background-clip: padding-box;
    border-radius: 0.5rem;
  }
}
